/* Hide Scrollbar */
/* ref: https://stackoverflow.com/questions/16670931/#30680994 */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0em;
}

.screen {
    height: 100vh;
    /*width: calc(100vw - 17px);*/
    width: 100vw;
    margin: 0;
    padding: 0;
    display: inline-block;

}

.first_name {
    color:#cc0066;
    font-weight: bold;
}

.status_name {
    font-size: 8vh;
    font-weight: bold;
}

.status_name span.CURRENT {
    color: lime;
}

.status_name span.GRACE {
    color: orange;
}

.status_name span.EXPIRED {
    color: red;
}


.section {
    height: calc(100vh - 22vh);
    /*width: calc(100vw - 22vh - 17px);*/ /* with scroll bar */
    width: calc(100vw - 22vh);

    /* border */
    /*border: 0.8vh;*/
    border: 0vh;
    border-style: dashed;
    border-radius: 8vh;
    border-color: blue;

    /* spacing */
    margin: 5vh;
    padding: 5vh;

    /* Content */
    font-size: 5vh;

    /* background */
    background: #eee;
}

.section h1 {
    font-size: 10vh;
    margin-top: 0;
    text-align: center;
}

img.qrcode {
    height: 30vh;
    width: auto;
}

#recording img {
    height: 50%;
    width: auto;
}

.tile {
    display: inline-block;
    float: left;
}

.tile-large {
    height: 50vh;
    width: 30vw;
}

.tile-thin {
    height: 50vh;
    width: 20vw;
}

.tile h1,h2,h3,h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2vh;
}

.button {
    cursor: pointer;
    background: #55f;

    /* border */
    border: 2vh;
    border-color: #00f;
    border-radius: 2vh;

    /* spacing */
    padding: 1vh 3vh;
    margin: 2vh;

    /* text */
    text-align: center;
    font-weight: bold;
    font-size: 10vh;
    color: white;
}

.error-dialog {
    display: none; /* hidden by default */
    position: fixed;
    top: 0px;
    background: rgba(0, 0, 0, 0.75);
}

.error-dialog .section {
    /* border */
    border: 2vh;
    border-style: solid;
    border-radius: 8vh;
    border-color: red;

    /* background */
    background: rgba(0, 0, 0, 0.75);
    color: white;

    /* margin */
    padding: 5vh;

    /* font */
    font-family: monospace; /* makes it look more computery */
}

.error-dialog .error-buttons {
    position: absolute;
    bottom: 5vh;
    text-align: center;
    width: 85%;  /* 100% goes off the page */
}

.error-button {
    padding: 3vh 5vh;
    margin: 0vh;

    /* font */
    font-size: 10vh;
}

.button.square {
    /* size */
    height: 10vh;
    width: 10vh;
    padding: 3vh;
}

.button.fixed-topright {
    position: fixed;
    top: 3vh;
    right: 3vh;
}

form.touch input {
    font-weight: bold;
    font-size: 5vh;
    margin-bottom: 4vh;
}

/* Keyboard */
.simple-keyboard.hg-layout-default .hg-button.hg-submit {
    background: #55f;
    color: white;
}
