/* source: https://codepen.io/FatmaMahmoud/pen/zywoop */

.spinner {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  margin: 5vh auto;
  border: 4vh solid #f5f5f5;
  border-right: 4vh solid red;
  border-left: 4vh solid red;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  -webkit-animation: loading 1s linear infinite;
  -moz-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
