# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# Environments
.env
.venv
venv/
env.bak/
venv.bak/

# Environment Files
env/prod*.env
env/civicrm.env

# vscode
.vscode
