<!DOCTYPE html>
<html>
  <head>
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/checkboxes.css">
    <!-- JavaScript -->
  </head>
  <body>
    <div class="button home-btn fixed-topright">
      <a href="{% url 'index' %}">&#x1F519;</a>
    </div>

    <h1>Select Event:</h2>
    <ul>
      {% for event in events %}
      <li><a href="{% url 'attendance-list' event.pk %}">{{ event.title }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
