<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/checkboxes.css">
    <style>
      .home-btn {
        float: right;
      }
      .home-btn img {
        width: 10vh;
        height: auto;
      }
    </style>
    <!-- JavaScript -->
    <script src="/static/scanner/js/jquery.min.js"></script>
  </head>
  <body>
    <!-- TODO:
      - selection sets cookie value
    -->

    <div class="home-btn">
      <a href="{% url 'index' %}">
        <img src="/static/scanner/img/home.svg">
      </a>
    </div>

    <h1>Select Location</h1>
    <form class="form" action="{% url 'scanner-config-events' %}">
      {% for location in locations %}
      <div class="radiocheck">
        <input type="radio" class="radio" id="loc{{ location.pk }}" name="loc" value="{{ location.pk }}"/>
        <label for="loc{{ location.pk }}">{{ location.name }}</label>
      </div>
      {% endfor %}

      <input type="submit" value="Continue">
    </form>
  </body>
</html>
