<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/checkboxes.css">
    <style>
      .home-btn {
        float: right;
      }
      .home-btn img {
        width: 10vh;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="home-btn">
      <a href="{% url 'index' %}">
        <img src="/static/scanner/img/home.svg">
      </a>
    </div>

    <h1>Select Events</h2>
    <form class="form">
      <div class="radiocheck check">
        <input id="option1" name="option1" class="checkbox" type="checkbox"/>
        <label for="option1">Event Number 1</label>
      <div class="radiocheck check">
      </div>

        <input id="option2" name="option2" class="checkbox" type="checkbox"/>
        <label for="option2">Event Number 2</label>
      </div>
    </form>

    <p>
      <a href="{% url 'scanner-scan' %}">Start Scanning</a>
    </p>
  </body>
</html>
