{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'scanner/img/favicon.ico' %}"/>
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/config.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/checkboxes.css' %}">
    <!-- JavaScript -->
  </head>
  <body>
    <div class="button home-btn fixed-topright">
      <a href="{% url 'index' %}">&#x21bb;</a>
    </div>

    <h1>Select Event(s)</h2>
    <p>
      {% if location %}
        Events at: <b>{{ location }}</b>
      {% else %}
        Hosted anywhere (no location set)
      {% endif %}
      </b>
    </p>
    <form class="form" action="{% url 'scanner-scan' %}">
      <!-- {% csrf_token %} -->

      {% if events %}
        {% for event in events %}
        <div class="radiocheck check">
          <input id="ev{{ event.pk }}" name="ev{{ event.pk }}" class="checkbox" type="checkbox"/>
          <label for="ev{{ event.pk }}">{{ event.title }}</label>
        </div>
        {% endfor %}
      {% else %}
        No events were found
      {% endif %}

      <p>
        <input type="submit" value="Start Scanning" class="button">
      </p>
    </form>

  </body>
</html>
