{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'scanner/img/favicon.ico' %}"/>
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/config.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/checkboxes.css' %}">
    <!-- JavaScript -->
    <script src="{% static 'scanner/js/jquery.min.js' %}"></script>
  </head>
  <body>
    <div class="button home-btn fixed-topright">
      <a href="{% url 'index' %}">&#x21bb;</a>
    </div>

    <h1>Select Location(s)</h1>
    <form class="form" action="{% url 'scanner-config-events' %}">
      {% for address in addresses %}
      <div class="radiocheck check">
        <input id="addr{{ address.pk }}" name="addr{{ address.pk }}" class="checkbox" type="checkbox"/>
        <label for="addr{{ address.pk }}">{{ address }} [{{ address.active_event_count }}]</label>
      </div>
      {% endfor %}

      <p>
        <input type="submit" value="Select Event" class="button">
      </p>
    </form>
  </body>
</html>
