<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/checkboxes.css">
    <style>
      .home-btn {
        float: right;
      }
      .home-btn img {
        width: 10vh;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="home-btn">
      <a href="{% url 'index' %}">
        <img src="/static/scanner/img/home.svg">
      </a>
    </div>

    <h1>Select Event(s)</h2>
    <p>
      Events at: {{ location.name }}
    </p>
    <form class="form">
      {% for event in events %}
      <div class="radiocheck check">
        <input id="ev{{ event.pk }}" name="ev{{ event.pk }}" class="checkbox" type="checkbox"/>
        <label for="ev{{ event.pk }}">{{ event.title }}</label>
      </div>
      {% endfor %}
    </form>

    <p>
      <a href="{% url 'scanner-scan' %}">Start Scanning</a>
    </p>
  </body>
</html>
