{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'scanner/img/favicon.ico' %}"/>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/config.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/checkboxes.css' %}">
    <!-- JavaScript -->
    <script src="{% static 'scanner/js/jquery.min.js' %}"></script>
  </head>
  <body>
    <div class="button home-btn fixed-topright">
      <a href="{% url 'index' %}">&#x21bb;</a>
    </div>

    <h1>Select Location</h1>
    <form class="form" action="{% url 'scanner-config-events' %}">
      {% for location in locations %}
      <div class="radiocheck">
        <input type="radio" class="radio" id="loc{{ location.pk }}" name="loc" value="{{ location.pk }}"/>
        <label for="loc{{ location.pk }}">{{ location.name }}</label>
      </div>
      {% endfor %}

      <input type="submit" value="Continue">
    </form>
  </body>
</html>
