<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
    <style>
      li {
        padding: 1.5vh;
      }
    </style>
  </head>
  <body>
      <h1>MelbPC QR-Code Scanner</h1>
      <p>
          This is the sign-in terminal for <a href="https://www.melbpc.org.au/">MelbPC</a> events.
      </p>
      <p>
        <h3>What to do from here:</h3>
        <ul>
          <li>Configure:
            <a href="{% url 'scanner-config-location' %}?clear_location=1&clear_events=1">Location &gt; Event</a>
            or
            <a href="{% url 'scanner-config-events' %}?clear_location=1&clear_events=1">Event</a>
          </li>
          <li><a href="{% url 'attendance-select' %}">List attendees for an event</a></li>
          <li><a href="/admin">Browse the database</a></li>
          <li><a href="/api">Browse the REST API</a></li>
        </ul>
      </p>

  </body>
</html>
