<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/config.css">
  </head>
  <body>
      <h1>MelbPC QR-Code Scanner</h1>
      <p>
        This is the sign-in terminal for <a href="https://www.melbpc.org.au/">MelbPC</a> events.
      </p>
      <p>
        <h3>What to do from here:</h3>
        <a href="{% url 'scanner-config-events' %}?clear_location=1&clear_events=1" class="button">Configure Event</a>
        <!--
        <a href="{% url 'scanner-config-location' %}?clear_location=1&clear_events=1" class="button">Location &gt; Event</a>
        -->
        <a href="{% url 'attendance-select' %}" class="button">List Attendees</a>
        <ul>
          <li><a href="/admin">Browse the database</a></li>
          <li><a href="/api">Browse the REST API</a></li>
        </ul>
      </p>

  </body>
</html>
