{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'scanner/img/favicon.ico' %}"/>
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="{% static 'scanner/css/config.css' %}">
  </head>
  <body>
    <div class="button home-btn fixed-topright">
      <a href="{% url 'index' %}">&#x21bb;</a>
    </div>

    <h1>Power Options</h1>
    <p>
      <a href="{% url 'power-off' %}" class="button button-red">Shutdown</a>
    </p>
    <p>
      <a href="{% url 'power-restart' %}" class="button button-red">Reboot</a>
    </p>
    <p>
      <a href="{% url 'index' %}" class="button">Cancel</a>
    </p>
  </body>
</html>
