{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/scanner.css"></link>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/spinner.css"></link>
    <link type="text/css" rel="stylesheet" href="/static/scanner/css/checkboxes.css">
    <script src="/static/scanner/js/jquery.min.js"></script>
    <!-- TODO: on-screen keyboard
    one potential lib: https://github.com/Mottie/Keyboard
                       https://github.com/hodgef/simple-keyboard
    <script src="/static/js/some-kb-lib.js"></script>
    <link rel="stylesheet" href="/static/style/keyboard-basic.min.css" type="text/css"></link>
    -->
    <script>
      var g_location = {{ location_json|safe }};
      var g_events = {{ events_json|safe }};
    </script>
    <script src="/static/scanner/js/scanner.js"></script>
  </head>
  <body onload="setupScannerPage();">
    <!-- Sounds -->
    <audio id="sound_scan">
      <source src="/static/scanner/sound/beep.mp3" type="audio/mpeg">
      ERROR: Your browser does not support the audio element.
    </audio>
    <audio id="sound_error">
      <source src="/static/scanner/sound/error.mp3" type="audio/mpeg">
    </audio>

    <!-- ============== Event Selection ============== -->
    <div class="screen" id="events"><div class="section">
      <h1>Select an Event:</h1>
      <form class="form" id="eventform">
        {% for event in events %}
        <div class="radiocheck">
          <input
            id="ev{{ event.pk }}"
            name="event"
            class="radio"
            type="radio"
            onclick="setTimeout(() => {submitEvent();}, 300);"
          />
          <label for="ev{{ event.pk }}">{{ event.title }}</label>
        </div>
        {% endfor %}
        <!--
        <div class="tile tile-large">
          <div class="button" onclick="submitEvent();">Check In</div>
        </div>
        -->
      </form>
    </div></div>

    <!-- ============== Scan ============== -->
    <div><a id="123"></a></div>
    <div class="screen" id="scan"><div class="section">
      <h2><span class="event_name"></span></h2>

      <div style="display:inline-block; text-align:center;">
        <div class="tile tile-large">
          <h2>Scan</h2>
          <img class="qrcode" src="/static/scanner/img/qrcode-sample.svg">
        </div>
        <div class="tile tile-thin">
          <span style="height:15vh; display:inline-block;">&nbsp;</span>
          <h1>OR</h1>
        </div>
        <div class="tile tile-large">
          <div class="button" onclick="jumpTo('signin_guest');">Sign in<br/>as Guest</div>
          <div class="button" onclick="jumpTo('signin_memno');">Member Number</div>
        </div>
      </div>

      <form id="scanform" onsubmit="submitScan(); return false;">
        <input name="contact_id" type="text" size="35" />
      </form>
    </div></div>

    <!-- ============== Sign in as Guest ============== -->
    <div class="screen" id="signin_guest"><div class="section">
      <h1>Sign in as Guest</h1>
      <form id="guestform" onsubmit="submitGuest(); return false;">
        {% csrf_token %}
        <p>
          Name: First <input name="first_name" type="text" size="20">
          Last <input name="last_name" type="text" size="20">
        </p>
        <p>
          Email Address: <input name="email" type="text" size="45">
        </p>
        <!--
        <p>
          Mobile Phone: <input name="mobile" type="text" size="45">
        </p>
        -->
        <input type="submit" class="button" />
      </form>
    </div></div>

    <!-- ============== Sign in Member Number ============== -->
    <div class="screen" id="signin_memno"><div class="section">
      <h1>Membership Number</h1>
      <form id="memnumform" onsubmit="submitMemberNumber(); return false;">
        <p>
          Membership #: <input name="membership_num" type="text" size="20">
        </p>
        <input type="submit" class="button" />
      </form>
    </div></div>

    <ul>
      <li>Name: <span class="first_name"></span> <span class="last_name"></span></li>
      <li>Status: <span class="status_name"></span></li>
    </ul>

    <!-- ============== Recording Attendance ============== -->
    <div class="screen" id="saving"><div class="section">
      <h1>Checking In...</h1>
      <p>
        <span class="error_msg"></span>
      </p>
      <!-- <div class="spinner"></div> -->
      <form id="attendanceform">
        {% csrf_token %}
        <input type="hidden" name="contact_pk">
        <input type="hidden" name="event_pk">
      </form>
    </div></div>

    <!-- ============== Welcome ============== -->
    <div class="screen" id="welcome"><div class="section">
      <h2>Welcome <span class="first_name"></span>!</h2>
      <p>
        You're attending: <b><span class="event_name"></span></b>.
      </p>
      <p>
        Your membership status is: <b><span class="status_name"></span></b>
      </p>
    </div></div>

    <!-- ============== Pemrmenant Overlays ============== -->
    <!-- Reset Button -->
    <div class="button error-button reset-button square fixed-topright"><span>&#x21bb;</span></div>

    <!-- Error Dialog -->
    <div class="error-dialog"><div class="screen" id="welcome">
      <div class="section">
        <h1 class="error-title">Error</h1>
        <div class="error-message">
          ERROR TEXT
        </div>
        <div class="error-buttons">
          <p>
            <span class="button error-button">Close &times;</span>
            OR
            <span class="button error-button reset-button">Reset &#x21bb;</span>
          </p>
        </div>
      </div>
    </div></div>

  </body>
</html>
