# min   hour    day     month   weekday command
*       */6     *       *       *       python /srv/app/manage.py import_civicrm
*/5     *       *       *       *       python /srv/app/manage.py export_attendance --quiet
