# Prerequisites
cryptography==3.1.1

# Django
Django
django-extensions
djangorestframework
django-appconf
django-phonenumber-field
django-allauth
phonenumbers

# Database
pymysql
psycopg2

# Other
requests
